{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <!-- JQuery -->
        <script src="{% static 'dtf/jquery-3.5.1.js' %}"></script>
        
        <!-- Bootstrap -->
        <link rel="stylesheet" type="text/css" href="{% static 'dtf/bootstrap.min.css' %}">

        <script src="{% static 'dtf/bootstrap.min.js' %}"></script>

        <link rel="stylesheet" href="{% static 'dtf/font/bootstrap-icons.css' %}">

        <script src="{% static 'dtf/jquery.tablesorter.min.js' %}"></script>

        <!-- Custom Css -->
        <link rel="stylesheet" type="text/css" href="{% static 'dtf/style.css' %}">

        <!-- Custom Scripts -->
        <script src="{% static 'dtf/script.js' %}"></script>

    </head>
    <body>
        {% block header %}
            <header class="navbar bg-dark border-bottom border-dark text-white">
                <div class="container-fluid header-content align-items-center">
                    <div class="title-container">
                        <h1 class="title">
                            <a href="{% url 'home' %}">
                                <span>DTF</span>
                            </a>
                        </h1>
                        <ul class="list-unstyled navbar-sub-nav">
                            <li>
                                <a href="{% url 'projects' %}">
                                    <span>Projects</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="navbar-collapse collapse">
                    </div>
                </div>
            </header>
        {% endblock %}

        <div class="layout-page {% block layout %}{% endblock %}">
            <div class="content-wrapper">
                <div class="container-{% block containertype %}xl{% endblock %}">
                    <main class="content">
                        {% block content %}{% endblock %}
                    </main>
                </div>
            </div>
        </div>
    </body>
</html>
