{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <!-- JQuery -->
        <script src="{% static 'dtf/jquery-3.5.1.js' %}"></script>
        
        <!-- Bootstrap -->
        <link rel="stylesheet" type="text/css" href="{% static 'dtf/bootstrap.min.css' %}">

        <script src="{% static 'dtf/bootstrap.min.js' %}"></script>

        <link rel="stylesheet" href="{% static 'dtf/font/bootstrap-icons.css' %}">

        <!-- https://www.kryogenix.org/code/browser/sorttable/ -->
        <!-- Library for sorting tables -->
        <!-- <script src="{% static 'dtf/sorttable.js' %}"></script> -->
        <script src="{% static 'dtf/jquery.tablesorter.min.js' %}"></script>

        <!-- Custom Css -->
        <link rel="stylesheet" type="text/css" href="{% static 'dtf/style.css' %}">

        <!-- Custom Scripts -->
        <script src="{% static 'dtf/script.js' %}"></script>

    </head>
    <body class="px-4">
        {% block body %}
        {% endblock %}
    </body>
</html>
