
{% load dtf.custom_filters %}

<div class="d-flex w-100">
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="filter_successful" name="filter_status" value="successful" autocomplete="off" checked>
        <label class="form-check-label" for="filter_successful">{{ "successful"|status_badge }}</label>
    </div>

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="filter_unstable" name="filter_status" value="unstable" autocomplete="off" checked>
        <label class="form-check-label" for="filter_unstable">{{ "unstable"|status_badge }}</label>
    </div>

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="filter_unknown" name="filter_status" value="unknown" autocomplete="off" checked>
        <label class="form-check-label" for="filter_unknown">{{ "unknown"|status_badge }}</label>
    </div>

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="filter_failed" name="filter_status" value="failed" autocomplete="off" checked>
        <label class="form-check-label" for="filter_failed">{{ "failed"|status_badge }}</label>
    </div>

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="filter_broken" name="filter_status" value="broken" autocomplete="off" checked>
        <label class="form-check-label" for="filter_broken">{{ "broken"|status_badge }}</label>
    </div>

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="filter_skip" name="filter_status" value="skip" autocomplete="off" checked>
        <label class="form-check-label" for="filter_skip">{{ "skip"|status_badge }}</label>
    </div>
</div>