<div class="d-flex w-100">
    <input id="filter_successful" type="checkbox" name="filter_status" value="successful" autocomplete="off" checked/>
    <label class="pl-1 pr-3 my-auto" for="filter_successful">successful</label>

    <input id="filter_unstable" type="checkbox" name="filter_status" value="unstable" autocomplete="off" checked/>
    <label class="pl-1 pr-3 my-auto" for="filter_unstable">unstable</label>

    <input id="filter_unknown" type="checkbox" name="filter_status" value="unknown" autocomplete="off" checked/>
    <label class="pl-1 pr-3 my-auto" for="filter_unknown">unknown</label>

    <input id="filter_failed" type="checkbox" name="filter_status" value="failed" autocomplete="off" checked/>
    <label class="pl-1 pr-3 my-auto" for="filter_failed">failed</label>

    <input id="filter_broken" type="checkbox" name="filter_status" value="broken" autocomplete="off" checked/>
    <label class="pl-1 pr-3 my-auto" for="filter_broken">broken</label>

    <input id="filter_skip" type="checkbox" name="filter_status" value="skip" autocomplete="off" checked/>
    <label class="pl-1 pr-3 my-auto" for="filter_skip">skip</label>
</div>