
{% load dtf.custom_filters %}

<div class="d-flex float-left">
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="filter_successful" name="filter_status" value="successful" autocomplete="off" checked>
        <label class="form-check-label mb-1" for="filter_successful">{{ "successful"|status_badge }}</label>
    </div>

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="filter_unstable" name="filter_status" value="unstable" autocomplete="off" checked>
        <label class="form-check-label mb-1" for="filter_unstable">{{ "unstable"|status_badge }}</label>
    </div>

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="filter_failed" name="filter_status" value="failed" autocomplete="off" checked>
        <label class="form-check-label mb-1" for="filter_failed">{{ "failed"|status_badge }}</label>
    </div>

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="filter_skip" name="filter_status" value="skip" autocomplete="off" checked>
        <label class="form-check-label mb-1" for="filter_skip">{{ "skip"|status_badge }}</label>
    </div>

    {% if show_broken %}
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="filter_broken" name="filter_status" value="broken" autocomplete="off" checked>
        <label class="form-check-label mb-1" for="filter_broken">{{ "broken"|status_badge }}</label>
    </div>
    {% endif %}

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="filter_unknown" name="filter_status" value="unknown" autocomplete="off" checked>
        <label class="form-check-label mb-1" for="filter_unknown">{{ "unknown"|status_badge }}</label>
    </div>

</div>

<script>
$("input[name='filter_status']").change(function () {
    var status_type = this.value;
    var checked = this.checked;
    $('table > tbody > tr > td > span').each(function(index, elem) {
        if (elem.textContent.trim() != status_type){
            return;
        }
        if (checked) {
            elem.parentElement.parentElement.style.display = "table-row";
        }
        else {
            elem.parentElement.parentElement.style.display = "none";
        }
    });
});
</script>