{% extends 'dtf/page_no_sidebar.html' %}

{% load dtf.custom_filters %}

{% block content %}

<div class="pt-3 pb-3 border-bottom">
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item" aria-current="page">
        <a href="{% url 'projects' %}">Project List</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">New</li>
    </ol>
  </nav>
</div>

<div class="content mt-3">
  <form action="{% url 'new_project' %}" method="post" novalidate>
    {% csrf_token %}

    {% for hidden_field in form.hidden_fields %}
      {{ hidden_field }}
    {% endfor %}

    {% if form.non_field_errors %}
      <div class="alert alert-danger" role="alert">
        {% for error in form.non_field_errors %}
          {{ error }}
        {% endfor %}
      </div>
    {% endif %}

    <div class="form-row">
      <div class="form-group col-md">
        {{ form.name.label_tag }}
        {{ form.name|as_bootstrap_field }}
      </div>
      <div class="form-group col-">
        {{ form.slug.label_tag }}
        {{ form.slug|as_bootstrap_field }}
      </div>
    </div>

    <div class="row mb-3">
      <div class="col">
        <input type="submit" value="Create project" class="btn btn-success">
      </div>
      <div class="col-auto">
        <a class="btn btn-outline-secondary" href="{% url 'projects' %}">Cancel</a>
      </div>
    </div>
  </form>

</div>

{% endblock %}