{% extends 'dtf/base.html' %}

{% load dtf.custom_filters %}

{% block body %}

<div class="bg-white sticky-top pt-3 pb-1">

<nav>
  <ol class="breadcrumb">
    <li class="breadcrumb-item" aria-current="page">
        <a href="{% url 'projects' %}">Project List</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">{{project.name}}</li>
  </ol>
</nav>

</div>

<div class="page-header">
    <h2 class="float-left">Submissions</h2>
    <div class="float-right">
        <a href="{% url 'project_settings' project.slug %}" class="btn btn-primary">Settings</a>
    </div>
</div>

<table class="table table-hover">
    <thead>
    <tr>
        <th class="noselect">
            Status
        </th>
        <th class="noselect">
            ID
        </th>
        <th class="noselect">
            Created on
        </th>
        {% for property in properties %}
            {% if property.display %}
                <th class="noselect">
                    {{ property.name }}
                </th>
            {% endif %}
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for submission in submissions|dictsortreversed:"id" %}
    <tr onclick="window.location='{% url 'submission_details' submission.pk %}';" style="cursor:pointer">
        <td>
            {{ submission.status|status_badge }}
        </td>
        <td>
            {{ submission.pk }}
        </td>
        <td>
            {{ submission.created }}
        </td>
        {% for property in properties %}
            {% if property.display %}
                <td>
                    {{ property|submission_property:submission }}
                </td>
            {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>

{% include "dtf/bootstrap/paginator.html" with page_obj=submissions %}

{% endblock %}