{% extends 'dtf/page_with_sidebar.html' %}

{% load dtf.custom_filters %}

{% block navigation-sidebar-content %}
    {% include "dtf/project_sidebar.html" with active_page='submissions' %}
{% endblock %}

{% block content %}

<div class="pt-3 pb-3 border-bottom">
    <nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page">
            <a href="{% url 'project_details' project.slug %}">{{ project.name }}</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Submissions</li>
    </ol>
    </nav>
</div>

<table class="table table-hover">
    <thead>
    <tr>
        <th class="noselect fit">
            Status
        </th>
        <th class="noselect">
            ID
        </th>
        <th class="noselect">
            Created on
        </th>
        {% for property in properties %}
            {% if property.display %}
                <th class="noselect">
                    {{ property.name }}
                </th>
            {% endif %}
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for submission in submissions %}
    <tr class="submission">
        <td class="status">
            <a href="{% url 'submission_details' project.slug submission.pk %}">{{ submission.status|status_badge }}</a>
        </td>
        <td class="id">
            <a href="{% url 'submission_details' project.slug submission.pk %}">{{ submission.pk }}</a>
        </td>
        <td class="date">
            <a href="{% url 'submission_details' project.slug submission.pk %}">{{ submission.created }}</a>
        </td>
        {% for property in properties %}
            {% if property.display %}
                <td class="property">
                    {{ property|submission_property:submission }}
                </td>
            {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>

{% include "dtf/bootstrap/paginator.html" with page_obj=submissions %}

{% endblock %}