
{% load static %}

<div>
    <div class="sidebar-header border-bottom">
        <a href="{% url 'project_details' project.slug %}">
            <span>{{ project.name }}</span>
        </a>
    </div>

    <ul class="">
        <li class="{% if active_page == 'submissions' %}active{% endif %}">
            <a href="{% url 'project_submissions' project.slug %}">
                <i class="icon-container bi bi-box-arrow-in-right" width="16" height="16"></i>
                <span>Submissions</span>
            </a>
        </li>
        <li class="{% if active_page == 'references' %}active{% endif %}">
            <a href="{% url 'project_reference_sets' project.slug %}">
                <i class="icon-container bi bi-star" width="16" height="16"></i>
                <span>References</span>
            </a>
        </li>
        <li class="{% if active_page == 'settings' %}active{% endif %}">
            <a href="{% url 'project_settings' project.slug %}">
                <i class="icon-container bi bi-gear" width="16" height="16"></i>
                <span>Settings</span>
            </a>
        </li>
    </ul>
</div>