{% extends 'dtf/base.html' %}

{% load dtf.custom_filters %}

{% block body %}

<div class="bg-white sticky-top pt-3 pb-1">

  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item" aria-current="page">
        <a href="{% url 'projects' %}">Project List</a>
      </li>
      <li class="breadcrumb-item" aria-current="page">
        <a href="{% url 'project_details' project.slug %}">{{ project.name }}</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Settings</li>
    </ol>
  </nav>

  <div class="page-header">
    <div class="w-100">
      <h1>Settings for {{ project.name }}</h1>
    </div>
  </div>

  <h3>General</h3>
  <form action="{% url 'project_settings' project.slug %}" method="post" novalidate>
    {% csrf_token %}

    <!-- General -->

    {% for hidden_field in form.hidden_fields %}
      {{ hidden_field }}
    {% endfor %}

    {% if form.non_field_errors %}
      <div class="alert alert-danger" role="alert">
        {% for error in form.non_field_errors %}
          {{ error }}
        {% endfor %}
      </div>
    {% endif %}

    <div class="form-row">
      <div class="form-group col-md">
        {{ form.name.label_tag }}
        {{ form.name|as_bootstrap_field }}
      </div>
      <div class="form-group col-">
        {{ form.slug.label_tag }}
        {{ form.slug|as_bootstrap_field }}
      </div>
      <div class="form-group col-">
        <label for="project_id">ID:</label>
        <input type="text" id="project_id" class="form-control" value="{{ project.id }}" disabled>
      </div>
    </div>

    <input type="submit" value="Save" class="btn btn-success">
    <a class="btn btn-outline-secondary float-right" href="{% url 'project_details' project.slug %}">Cancel</a>
  </form>

</div>


{% endblock %}