{% extends 'dtf/page_with_two_sidebars.html' %}

{% load dtf.custom_filters %}

{% block navigation-sidebar-content %}
    {% include "dtf/project_sidebar.html" with active_page='references' project=reference_set.project %}
{% endblock %}

{% block content-sidebar-content %}
    {% include "dtf/reference_set_sidebar.html" with reference_set=reference_set %}
{% endblock %}

{% block content %}

<div class="border-bottom">
    <nav class="row">
        <div class="col pt-3 pb-3">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page">
                    <a href="{% url 'project_details' reference_set.project.slug %}">{{reference_set.project.name}}</a>
                </li>
                <li class="breadcrumb-item" aria-current="page">
                    <a href="{% url 'project_reference_sets' reference_set.project.slug %}">Reference Sets</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">{{reference_set.id}}</li>
            </ol>
        </div>
        <div class="col-md-auto mt-2 mb-2 content-sidebar-dependent">
            <button class="btn btn-outline-dark btn-sm" onclick="toggleContentSidebar()"><i class="bi bi-chevron-double-left"></i></button>
        </div>
    </nav>
</div>

<table class="table table-hover tablesorter">
    <thead>
    <tr>
        <th class="noselect">
            Test Name
        </th>
        <th class="noselect">
            Created on
        </th>
        <th class="noselect">
            Last updated on
        </th>
    </tr>
    </thead>
    <tbody>
    {% for test in reference_set.test_references.all %}
    <tr class="test_references">
        <td class="name">
            <a href="{% url 'test_reference_details' reference_set.project.slug test.pk %}">{{ test.test_name }}</a>
        </td>
        <td class="date">
            <a href="{% url 'test_reference_details' reference_set.project.slug test.pk %}">{{ test.created }}</a>
        </td>
        <td class="date">
            <a href="{% url 'test_reference_details' reference_set.project.slug test.pk %}">{{ test.last_updated }}</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}