
{% load dtf.custom_filters %}

<div class="pl-3 pr-3">
    <div class="pt-2 sidebar-header">
        <h4>Submission {{submission.id}}</h4>
    </div>
    <hr class="mt-2 mb-2">
    <div>
        <p class="mb-1"><span><b>Created:</b> {{submission.created}}</span></p>
        <p class="mb-1"><span><b>Status:</b> {{ submission.status|status_badge }}</span></p>
        {% for property in submission.project.properties.all %}
            {% if property.display %}
                <p class="mb-1"><span><b>{{ property.name }}:</b> {{ property|submission_property:submission }}</span></p>
            {% endif %}
        {% endfor %}
    </div>
</div>
