{% extends 'dtf/page_with_two_sidebars.html' %}

{% load dtf.custom_filters %}

{% block navigation-sidebar-content %}
    {% include "dtf/project_sidebar.html" with active_page='submissions' project=submission.project %}
{% endblock %}

{% block content-sidebar-content %}
    {% include "dtf/submission_sidebar.html" with submission=submission %}
{% endblock %}

{% block content %}

<div class="border-bottom">
    <nav class="row">
        <div class="col pt-3 pb-3">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page">
                    <a href="{% url 'project_details' submission.project.slug %}">{{submission.project.name}}</a>
                </li>
                <li class="breadcrumb-item" aria-current="page">
                    <a href="{% url 'project_submissions' submission.project.slug %}">Submissions</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">{{submission.id}}</li>
            </ol>
        </div>
        <div class="col-md-auto mt-2 mb-2 content-sidebar-dependent">
            <button class="btn btn-outline-dark btn-sm" onclick="toggleContentSidebar()"><i class="bi bi-chevron-double-left"></i></button>
        </div>
    </nav>
</div>

<div class="pt-3 pb-1">
    {% include 'dtf/filter-box.html' with show_broken=True filter_context=submission%}
</div>

<table class="table table-hover tablesorter">
    <thead>
    <tr>
        <th class="noselect fit">
            Status
        </th>
        <th class="noselect">
            Test Name
        </th>
        <th class="noselect">
            Created on
        </th>
    </tr>
    </thead>
    <tbody>
    {% for test in submission.tests.all %}
    <tr class="filtered-row test">
        <td class="filter-status status">
            <a href="{% url 'test_result_details' submission.project.slug test.pk %}">{{ test.status|status_badge }}</a>
        </td>
        <td class="name">
            <a href="{% url 'test_result_details' submission.project.slug test.pk %}">{{ test.name }}</a>
        </td>
        <td class="date">
            <a href="{% url 'test_result_details' submission.project.slug test.pk %}">{{ test.created }}</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}