{% extends 'dtf/page_no_sidebar.html' %}

{% block content %}
<div class="pt-3 pb-1 border-bottom">
    <div class="page-header mb-5">
        <h2 class="float-left">Projects</h2>
        <div class="float-right">
            <a href="{% url 'new_project' %}" class="btn btn-success">New project</a>
        </div>
    </div>
</div>

<table class="table table-hover tablesorter">
    <thead>
    <tr>
        <th class="noselect">
            Projektname
        </th>
        <th class="noselect">
            Project ID
        </th>
    </tr>
    </thead>
    <tbody>
    {% for project in projects %}
    <tr class="project">
        <td class="name">
            <a href="{% url 'project_details' project.slug %}">{{ project.name }}</a>
        </td>
        <td class="id">
            <a href="{% url 'project_details' project.slug %}">{{ project.id }}</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}