{% extends 'dtf/base.html' %}

{% load dtf.custom_filters %}

{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'dtf/users.css' %}">
{% endblock %}

{% block body %}
<body class="text-center">
  <div class="user-info">
    <h1 class="h3 mb-3 font-weight-normal">Password reset</h1>
    <p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
    <p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
  </div>
</body>
{% endblock %}
