{% extends 'dtf/base.html' %}

{% load dtf.custom_filters %}

{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'dtf/users.css' %}">
{% endblock %}

{% block body %}
<body class="text-center">
  <form class="user-form reset-confirm-form" action="" method="post" novalidate>
    {% csrf_token %}

    {% comment %} <img class="mb-4" src="/docs/4.6/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72"> {% endcomment %}
    <h1 class="h3 mb-3 font-weight-normal">Set new password</h1>

    <p>
    Please enter your new password twice so we can verify you typed it in correctly.
    </p>

    {% for hidden_field in form.hidden_fields %}
      {{ hidden_field }}
    {% endfor %}

    {% if form.non_field_errors %}
      <div class="alert alert-danger" role="alert">
        {% for error in form.non_field_errors %}
          {{ error }}
        {% endfor %}
      </div>
    {% endif %}

    <div class="form-group">
      <label for="id_new_password1" class="sr-only">New password</label>
      {{ form.new_password1|as_bootstrap_field }}

      <label for="id_new_password2" class="sr-only">Confirm password</label>
      {{ form.new_password2|as_bootstrap_field }}
    </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Change password</button>
  </form>
</body>
{% endblock %}
