{% extends 'dtf/base.html' %}

{% load dtf.custom_filters %}

{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'dtf/users.css' %}">
{% endblock %}

{% block body %}
<body class="text-center">
  <div class="user-info">
    <h1 class="h3 mb-3 font-weight-normal">Password reset complete</h1>
    <p>Your password has been set.  You may go ahead and log in now.</p>

    <p class="mt-2">
      <a href="{% url 'sign_in' %}">Login</a>
    </p>
  </div>
</body>
{% endblock %}
