{% extends 'dtf/base.html' %}

{% load dtf.custom_filters %}

{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'dtf/users.css' %}">
{% endblock %}

{% block body %}
<body class="text-center">
  <form class="user-form signin-form" action="{% url 'sign_in' %}" method="post" novalidate>
    {% csrf_token %}

    {% comment %} <img class="mb-4" src="/docs/4.6/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72"> {% endcomment %}
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

    {% for hidden_field in form.hidden_fields %}
      {{ hidden_field }}
    {% endfor %}

    {% if form.non_field_errors %}
      <div class="alert alert-danger" role="alert">
        {% for error in form.non_field_errors %}
          {{ error }}
        {% endfor %}
      </div>
    {% endif %}

    <div class="form-floating">
      {{ form.username|as_bootstrap_field }}
      <label for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
    </div>
    <div class="form-floating mb-2">
      {{ form.password|as_bootstrap_field }}
      <label for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
    </div>

    <div class="row mb-2">
      <div class="col-md-auto">
        {{ form.remember_me|as_bootstrap_field }}
        <label class="form-check-label" for="{{ form.remember_me.id_for_label }}">{{ form.remember_me.label }}</label>
      </div>
      <div class="col">
        <a href="{% url 'reset_password' %}">Forgot your password?</a>
      </div>
    </div>

    <input type="hidden" name="next" value="{{ next }}" />

    <div class="d-grid gap-2 mb-3">
      <button class="btn btn-lg btn-primary" type="submit">Sign in</button>
    </div>

    <p>
      No account yet? <a href="{% url 'sign_up' %}">Create one now</a>
    </p>
  </form>
</body>
{% endblock %}
