.ref_link {
    display: block;
    width: 100%;
}

label {
    cursor: pointer;
    user-select: none;
}

img {
    max-width: 100%;
}

.breadcrumb-item + .breadcrumb-item::before {
    content: ">";
}

.infospan {
    width: 50%;
    display: inline-block;
}

/* https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting */
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

.table td.fit, 
.table th.fit {
    white-space: nowrap;
    width: 1%;
}

.tablesorter-header {
    background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==);
    background-position: center right;
    background-repeat: no-repeat;
    cursor: pointer;
    white-space: normal;
    padding: 4px 20px 4px 4px;
}
.tablesorter-headerAsc {
    background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7);
}
.tablesorter-headerDesc {
    background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7);
}
.tablesorter .sorter-false {
    background-image: none;
    cursor: default;
    padding: 4px;
}

.section-header .section-toggle:before {
    font-family: 'bootstrap-icons';
    content: "\f285";
    float: left;
    margin-right: 0.5rem;
    transition: all 0.5s ease;
}

.section-header .section-toggle.collapsed:before {
    transform: rotate(90deg);
}

.table-hover > tbody > tr.no-hover:hover,
.no-hover {
    background-color: transparent;
}

.highlight {
    background-color: #f6f6f6;
}

table.ndarray-value {
    border: 1px solid #999;
    background: #ffffff;
}

/*
 * Navbar
 */
.navbar {
    padding: 0 16px;
    z-index: 1000;
    margin-bottom: 0;
    min-height: 40px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.header-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    min-height: 40px;
    padding-left: 0;
}

.header-content .title-container {
    display: flex;
    align-items: stretch;
    flex: 1 1 auto;
    padding-top: 0;
    overflow: visible;
}

.header-content .title {
    padding-right: 0;
    display: flex;
    position: relative;
    margin: 0;
    font-size: 18px;
    vertical-align: top;
    white-space: nowrap;
}

.navbar a {
    text-decoration: none;
}

.header-content .title a {
    display: flex;
    align-items: center;
    padding: 2px 8px;
    margin: 5px 2px 5px -8px;
    border-radius: 4px;
    color: #ffffff;
}

.navbar-sub-nav {
    display: flex;
    margin: 0 0 0 6px;
}

.navbar-sub-nav li a {
    display: flex;
    justify-content: center;
    padding: 6px 8px;
    margin: 4px 2px;
    font-size: 12px;
    border-radius: 4px;
    height: 32px;
    font-weight: 600;
    color: #ffffff;
}

.navbar-collapse {
    flex: 0 0 auto;
    border-top: 0;
    padding: 0;
}


/*
 * Content
 */
.content-wrapper {
    margin-top: 41px; /* header (40) + boarder (1) */
    padding-bottom: 100px;
}