.ref_link {
    display: block;
    width: 100%;
}

label {
    cursor: pointer;
    user-select: none;
}

img {
    max-width: 100%;
}

.breadcrumb-item + .breadcrumb-item::before {
    content: ">";
}

.infospan {
    width: 50%;
    display: inline-block;
}

/* https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting */
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

.table td.fit, 
.table th.fit {
    white-space: nowrap;
    width: 1%;
}

.section-header .section-toggle:before {
    font-family: 'bootstrap-icons';
    content: "\f285";
    float: left;
    margin-right: 0.5rem;
    transition: all 0.5s ease;
}

.section-header .section-toggle.collapsed:before {
    transform: rotate(90deg);
}

.table-hover > tbody > tr.no-hover:hover,
.no-hover {
    background-color: transparent;
}

.highlight {
    background-color: #f6f6f6;
}

table.ndarray-value {
    border: 1px solid #999;
    background: #ffffff;
}